<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Layout 1</title>
    <style>
        #contendor-selectorID{
          width:700px; height:auto;
          border:1px solid #000000;
          display: flex; margin:0px auto
        }
        .claseComunAlosDiv-selectorClase{
          width:200px; height:300px;
          border:1px solid #000000;
          margin:20px;
        }
    </style>
  </head>
  <body>

    <div id="contendor-selectorID">

        <div style="background:#00ffff;" class="claseComunAlosDiv-selectorClase"></div>

        <div style="background:#9900ff;" class="claseComunAlosDiv-selectorClase"></div>

        <div style="background:#ff0000;" class="claseComunAlosDiv-selectorClase"></div>
    </div>

  </body>
</html>
